@import '../../styles/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-alt;
  color: $main-darker;

  p {
    margin-left: 10px;
  }
}
