$main-accent: #263035;
$main-alt: rgb(226, 213, 98);
$main-alt-2: rgb(233, 85, 85);
$main-alt-3: pink;

$main-dark: rgb(61, 68, 81);
$main-darker: rgb(42, 46, 55);
$main-white: rgb(235, 236, 240);

$error-red: rgb(255, 111, 111);
$success-green: rgb(125, 192, 53);
$confirm-blue: rgb(102, 199, 255);

$main-gray: #505050;
$light-gray: #e5e5e5;
$border-gray: #ccc;

$app-radius: 2px;
$vspace: 10px;
$hspace: 10px;
$main-font: 'Verdana', sans-serif;
$main-display-font: sans-serif;
$main-cursive-font: cursive;

$vspace: 10px;
$hspace: 10px;
